<main class="ms-sm-auto px-md-4">
  <!--create a div that display and H1 with a class H2 that display Dashboard on the left and a button on the right that display NEW TRACK and route to the form-component-->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-primary" (click)="navigateToForm()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFFFFF" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"></path>
          </svg>
          WEIGHT
        </button>
      </div>
  </div>

    <canvas class="my-4 w-100" id="myChart" width="1298" height="548" style="display: block; box-sizing: border-box; height: 274px; width: 649px;"></canvas>
    </main>