#copyright{
    font-size: small;
}
::placeholder{
    font-size: small;
}
/* Component-specific CSS file */
.invalid-feedback {
    color: red; /* Change this to your desired color */
  }

  .error {
    color: red; 
    font-size: 0.8em;/* Change this to your desired color */
  }
  